/*reset.css*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "myfont";
    src: url("./fonts/ipaexm.ttf") format("truetype");
}

@font-face {
    font-family: "decofont";
    src: url("./fonts/Antro_Vectra.otf") format("opentype");
}

body {
    line-height: 1;
    font-size: 16px;
    font-family: "myfont", sans-serif;
    color: #333;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

#about, #service {
    display: block;
    padding-top: 40px;
    margin-top: -40px;
}

.pc-only {
    display: block;
}

.sp-only {
    display: none;
}


@media(max-width:428px) {
    body {
        font-size: 14px;
    }

    .pc-only {
        display: none;
    }

    .sp-only {
        display: block;
    }
}


/*=============================

fv

=============================*/

.fv__container {
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

header {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: none;
}

header .openbtn {
    display: none;
}


.header__nav {
    display: block;
    padding-right: 30px;
}

header h1 a {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
}


header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 30px;
    margin-right: 30px;
}

header nav ul li a {
    font-size: 1.4rem;
    color: #fff;
    font-family: "Noto Serif", serif;

}

.hamburger__cover {
    display: none;
}

.fv__box {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

.wave {
    opacity: .45;
    position: absolute;
    top: -130%;
    left: -15%;
    background: linear-gradient(to bottom, #ffdda1, #ff8c42);
    width: 1800px;
    height: 1600px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 7000ms infinite linear;
}

.wave.-three {
    animation: drift 10000ms infinite linear;
}

.wave.-two {
    animation: drift 8000ms infinite linear;
    opacity: .3;
    background: linear-gradient(to bottom, #ffe5b3, #ffb884);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.fv__text {
    text-align: center;
    padding-top: 60px;
}

.title, .title2, .title3 {
    display: flex;
    overflow: hidden;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.title span, .title2 span, .title3 span {
    display: block;
    font-family: "Noto Serif", serif;
    font-size: 3.4rem;
    padding-bottom: 10px;
    transform: translate(0, 105%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span, .title2.-visible span, .title3.-visible span {
    transform: translate(0, 0);
}

.title span:nth-child(2), .title2 span:nth-child(2) {
    transition-delay: 0.06s;
}

.title span:nth-child(3), .title2 span:nth-child(3) {
    transition-delay: 0.12s;
}

.title span:nth-child(4), .title2 span:nth-child(4) {
    transition-delay: 0.18s;
}

.title span:nth-child(5), .title2 span:nth-child(5) {
    transition-delay: 0.24s;
}

.title span:nth-child(6), .title2 span:nth-child(6) {
    transition-delay: 0.30s;
}

.title span:nth-child(7), .title2 span:nth-child(7) {
    transition-delay: 0.36s;
}

.title span:nth-child(8), .title2 span:nth-child(8) {
    transition-delay: 0.42s;
}

.title span:nth-child(9), .title2 span:nth-child(9) {
    transition-delay: 0.48s;
}

.title span:nth-child(10), .title2 span:nth-child(10) {
    transition-delay: 0.54s;
}

.title span:nth-child(11), .title2 span:nth-child(11) {
    transition-delay: 0.6s;
}

.title span:nth-child(12), .title3 span:nth-child(1) {
    transition-delay: 0.66s;
}

.title span:nth-child(13), .title3 span:nth-child(2) {
    transition-delay: 0.72s;
}

.title span:nth-child(14), .title3 span:nth-child(3) {
    transition-delay: 0.78s;
}

.title span:nth-child(15), .title3 span:nth-child(4) {
    transition-delay: 0.84s;
}

.title span:nth-child(16), .title3 span:nth-child(5) {
    transition-delay: 0.9s;
}

.title span:nth-child(17), .title3 span:nth-child(6) {
    transition-delay: 0.96s;
}

.title span:nth-child(18), .title3 span:nth-child(7) {
    transition-delay: 1.02s;
}

.title span:nth-child(19), .title3 span:nth-child(8) {
    transition-delay: 1.08s;
}

.title span:nth-child(20), .title3 span:nth-child(9) {
    transition-delay: 1.14s;
}

.title span:nth-child(21), .title3 span:nth-child(10) {
    transition-delay: 1.2s;
}

.title span:nth-child(22), .title3 span:nth-child(11) {
    transition-delay: 1.26s;
}

.title span:nth-child(23), .title3 span:nth-child(12) {
    transition-delay: 1.32s;
}

.title span:nth-child(24), .title3 span:nth-child(13) {
    transition-delay: 1.38s;
}

.title span:nth-child(25), .title3 span:nth-child(14) {
    transition-delay: 1.44s;
}

.title span:nth-child(26), .title3 span:nth-child(15) {
    transition-delay: 1.5s;
}

.title span:nth-child(27), .title3 span:nth-child(16) {
    transition-delay: 1.56s;
}

.title span:nth-child(28), .title3 span:nth-child(17) {
    transition-delay: 1.62s;
}

.title span:nth-child(29) {
    transition-delay: 1.68s;
}

.fv__sub--title {
    text-align: center;
    margin-top: 50px;
    font-size: 1.7rem;
    color: #333;
    z-index: 10;
    font-weight: bold;
}

@media(max-width:428px) {

    .fv__container {
        height: 85vh;
    }

    header {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px 0 10px;
        margin: 0;
        height: 60px;
        background-color: #fff;
        box-sizing: border-box;
    }

    header h1 a {
        font-size: 1.1rem;
        color: #333;
    }

    header nav {
        position: fixed;
        right: -120%;
        top: 60px;
        width: 65%;
        height: calc(37vh + 100px);
        border: 1px solid #d9d9d9;
        background-color: #fff;
        border-radius: 10px;
        opacity: 0.97;
        transition: right 0.5s;
    }

    .header__nav {
        padding-right: 0;
    }

    header nav ul {
        display: block;
        padding: 0;
        position: absolute;
        top: 55%;
        left: 50%;
        z-index: 9999;
        transform: translate(-50%, -50%);
    }

    header nav ul li {
        margin: 0;
    }

    header nav ul li a {
        display: block;
        margin-bottom: 35px;
        color: #888;
        font-size: 1rem;
        text-align: center;
    }

    header .header__nav.active {
        right: 0;
    }

    .hamburger__cover.active {
        position: fixed;
        display: block;
        background: rgba(0, 0, 0, .3);
        width: 100%;
        height: 100%;
        top: 60px;
        left: 0;
        z-index: -1;
        transition: opacity 0.3s;
    }

    header .openbtn {
        display: block;
        position: relative;
        cursor: pointer;
        background-color: #fff;
        width: 50px;
        height: 60px;
    }

    header .openbtn span {
        display: inline-block;
        transition: all 0.4s;
        /*アニメーションの設定*/
        position: absolute;
    }

    header .openbtn span:nth-of-type(1),
    header .openbtn span:nth-of-type(3) {
        height: 1px;
        background: #333;
        width: 65%;
        left: 5px;
    }

    header .openbtn span:nth-of-type(1) {
        top: 15px;
    }

    header .openbtn span:nth-of-type(2) {
        top: 25px;
        left: 5px;
        font-size: 0.6rem;
        text-transform: uppercase;
        color: #333;
    }

    header .openbtn span:nth-of-type(3) {
        top: 43px;
    }

    header .openbtn.active span:nth-of-type(1) {
        top: 19px;
        left: 13px;
        transform: translateY(8px) rotate(-45deg);
        width: 60%;
    }

    header .openbtn.active span:nth-of-type(2) {
        opacity: 0;
    }

    header .openbtn.active span:nth-of-type(3) {
        top: 36px;
        left: 13px;
        transform: translateY(-8px) rotate(45deg);
        width: 60%;
    }

    .hamburger__contact {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        border-top: 1px solid #d9d9d9;
    }

    .hamburger__contact a {
        display: block;
        padding: 15px 40px;
        background-color: #fac38df2;
        border-radius: 30px;
        margin-top: 40px;
        color: #fff;
    }


    .wave {
        top: -9%;
        left: -40%;
        width: 700px;
        height: 570px;
    }

    .fv__text {
        padding-top: 200px;
    }

    .title.pc-only {
        display: none;
    }

    .title2, .title3 {
        margin-top: 1%;
    }

    .title2 span, .title3 span {
        font-size: 2.5rem;
    }

    .title__sp--container {
        display: block;
    }

    .fv__sub--title {
        font-size: 1.2rem;
        margin-top: 30px;
    }

}

/*=============================

ABOUT US

=============================*/

.about__container {
    max-width: 73%;
    margin: 100px auto;
}

.main__title--left {
    font-size: 3.5rem;
    font-style: italic;
    margin: 80px auto 50px;
    font-weight: 500;
    font-family: "Noto Serif", serif;
}

.main__title--left::after {
    content: '';
    display: inline-block;
    width: 200px;
    height: 5px;
    background-color: #282f35;
    vertical-align: middle;
    margin-left: 30px;
}

.about__box {
    display: flex;
    justify-content: space-between;
    margin: 120px auto 60px;
}

div.about__box--text p {
    font-size: 1.02rem;
    line-height: 2.4;
    margin-bottom: 60px;
    font-weight: 200;
}

.about__text--marker {
    background: -webkit-linear-gradient(left, rgb(245, 228, 196) 50%, transparent 50%);
    background: -moz-linear-gradient(left, rgb(245, 228, 196) 50%, transparent 50%);
    background: linear-gradient(left, rgb(245, 228, 196) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% .8em;
    background-position: 100% .5em;
    transition: 3s;
    padding-bottom: 10px;
}

.about__text--marker.is-active {
    background-position: 0% .5em;
}

.about__box--img {
    display: block;
    width: 40%;
    text-align: right;
    margin-right: 0;
    position: relative;
}

.about__box--img img {
    width: 20rem;
    height: auto;
}

.about__box--img img.img-small {
    width: 16rem;
    height: 10rem;
    object-fit: cover;
    position: absolute;
    top: 45%;
    right: 55%;
    z-index: -1;
}

#fadeIn-img, #fadeIn-img2, #fadeIn-img3 {
    transform: scale(0.75);
    transition: all 2s;
}

#fadeIn-img.active, #fadeIn-img2.active, #fadeIn-img3.active {
    transform: scale(1);
}

#fadeIn-text, #fadeIn-text2, #fadeIn-text3, #fadeIn-text4, #fadeIn-text5, #fadeIn-text6, #fadeIn-text7, #fadeIn-text8 {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 1s;
}

#fadeIn-text.active, #fadeIn-text2.active, #fadeIn-text3.active, #fadeIn-text4.active, #fadeIn-text5.active, #fadeIn-text6.active, #fadeIn-text7.active, #fadeIn-text8.active {
    opacity: 1;
    transform: translate(0, 0);
}

@media(max-width:768px) {

    .main__title--left {
        font-size: 1.9rem;
    }

    .main__title--left::after {
        width: 90px;
    }
}

@media(max-width:428px) {

    .about__container {
        max-width: 100%;
        margin: 40px 50px 140px;
    }

    .main__title--left {
        font-size: 1.5rem;
    }

    .main__title--left::after {
        height: 2px;
    }

    .about__box {
        display: block;
        margin: 60px 0;
    }

    div.about__box--text p {
        width: 100%;
        font-size: 0.9rem;
        margin-bottom: 50px;
        line-height: 2;
    }

    .about__box--img {
        width: 100%;
    }

    .about__box--img img {
        width: 12rem;
    }

    .about__box--img img.img-small {
        width: 9.5rem;
        height: 5.5rem;
        top: 68%;
        right: 50%;
    }

}

/*=============================

SERVICE

=============================*/

.service__container {
    max-width: 73%;
    margin: 150px auto;
}

.service__container h2.main__title--right {
    font-size: 3.5rem;
    font-style: italic;
    max-width: 1100px;
    margin: 40px auto 50px;
    text-align: right;
    color: #333;
    font-weight: 500;
    z-index: 3;
    font-family: "Noto Serif", serif;
}

.main__title--right::after {
    content: '';
    display: inline-block;
    width: 200px;
    height: 5px;
    background-color: #333;
    vertical-align: middle;
    margin-left: 30px;
}

p.service__sub-title {
    font-size: 1.1rem;
    text-align: center;
    padding-top: 50px;
}


.service__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.service__item {
    border: 1px solid #d9d9d9;
    list-style: none;
    width: calc(97%/3);
    text-align: center;
}

.service__item a {
    display: block;
    height: 38vh;
    color: #333;
    transition: all .3s ease-in-out;
}

.service__item a:hover {
    background-color: #fac38df2;
    color: #fff;
}


#fadeIn-box, #fadeIn-box2, #fadeIn-box3, #fadeIn-box4 {
    transform: scale(0.9);
    transition: all 1.5s;
}

#fadeIn-box.active, #fadeIn-box2.active, #fadeIn-box3.active, #fadeIn-box4.active {
    transform: scale(1);
}

.service__item a img {
    width: 50px;
    height: 44px;
    object-fit: contain;
    display: block;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 20px;
    opacity: .8;
}

.service__readmore {
    position: relative;
    text-shadow: none;
    border: none;
    letter-spacing: .2em;
    margin-top: 60px;
    font-size: 0.7rem;
    margin-right: 20px;
    color: #666;
    font-family: "Noto Serif", serif;
}

.service__readmore::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    rotate: -45deg;
    position: absolute;
    right: 90px;
    top: 0;
}

.service__readmore:hover {
    color: #fff;
}

.service__readmore:hover::before {
    content: "";
    position: absolute;
    left: 40%;
    top: -60%;
    border: 1px solid #fd7119;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;
    -webkit-animation: 1s circleanime2 forwards;
    animation: 1s circleanime2 forwards;
}

@-webkit-keyframes circleanime2 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes circleanime2 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.service__step, .service__faq {
    text-align: center;
    margin: 60px auto 40px;
    position: relative;
    border: 1px solid #666;
    width: 350px;
    max-width: 90%;
    margin-top: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.service__step span, .service__faq span {
    display: block;
    overflow: hidden;
    color: transparent;
    text-shadow: 0 -1.5em 0 #333, 0 0 0 #333;
    transition: text-shadow 0.5s;
}

.service__step span:hover, .service__faq span:hover {
    text-shadow: 0 0 0 #333, 0 1.5em 0 #333;
}

.service__step--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.service__step--detail {
    width: calc(92%/3);
    text-align: center;
    list-style: none;
    min-height: 300px;
}

p.detail__title {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 4px;
    width: fit-content;
    margin: 0 auto;
}

.service__step--detail img {
    width: 80px;
    height: 74px;
    object-fit: contain;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    opacity: .8;
}

p.detail__text {
    font-size: 0.9rem;
    line-height: 1.5;
    vertical-align: top;
}

.triangle1 {
    width: 0;
    height: 0;
    margin-top: 30px;
    border-left: 15px solid #d9d9d9;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.service__faq {
    margin-top: 80px;
}

.accordion {
    margin: 60px 35px 30px;
}

.accordion-content {
    display: none;
}

.accordion-header {
    background-color: #FFF;
    padding: 12px 45px 10px 20px;
    margin: 10px 0 0;
    transition: .3s ease;
    cursor: pointer;
    position: relative;
    font-size: 0.98rem;
    letter-spacing: 0.01em;
}

.accordion-header::before,
.accordion-header::after {
    position: absolute;
    content: '';
    top: 1px;
    right: 20px;
    bottom: 0;
    width: 12px;
    height: 2px;
    margin: auto;
    background: #333;
}

.accordion-header::after {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.accordion-header.active::after {
    transform: rotate(0deg);
}

.accordion-content {
    background-color: #FFF;
    padding: 12px 20px 30px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    font-size: 0.98rem;
}

.accordion-header span,
.accordion-content span {
    padding-left: 25px;
    position: relative;
}

.accordion-header span::before {
    position: absolute;
    content: "Q";
    top: -3px;
    left: 0;
    font-size: 17px;
}


.accordion-content span::before {
    position: absolute;
    content: "A";
    top: -3px;
    left: 0;
    color: #151E2F;
    font-size: 17px;
}

/* hover */
.accordion-header:hover {
    background-color: #F6F6F6;
}


@media(max-width:768px) {
    .main__title--right {
        font-size: 1.9rem;
        margin-right: 10px;
    }

    .main__title--right::after {
        width: 90px;
    }
}

@media(max-width:428px) {
    .service__container {
        width: 100%;
        margin: 80px 50px;
    }

    .service__container h2.main__title--right {
        font-size: 1.5rem;
    }

    .main__title--right::after {
        height: 2px;
    }

    p.service__sub-title {
        font-size: 0.9rem;
        padding-top: 20px;
    }

    .service__list {
        margin-top: 31px;
        display: block;
        margin-right: 15px;
        margin-left: 15px;
    }

    .service__item {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .service__item a {
        height: 30vh;
        font-size: 0.85rem;
    }

    .service__item a img {
        padding-top: 60px;
    }

    .service__readmore {
        margin-top: 20px;
    }

    .service__readmore::before {
        right: 65px;
        width: 6px;
        height: 6px;
        top: 3px;
    }

    .service__step {
        margin-top: 70px;
    }

    .service__step span {
        font-size: 0.9rem;
    }

    .service__step--container {
        display: block;
        margin-top: 60px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .service__step--detail {
        width: 100%;
        min-height: 150px;
    }

    p.detail__title {
        font-size: 0.8rem;
    }

    .service__step--detail img {
        width: 50px;
        height: auto;
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    p.detail__text {
        font-size: 0.75rem;
    }

    .triangle1 {
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-top: 10px solid #d9d9d9;
        border-bottom: 0;
        margin: 50px auto;
    }

    .accordion {
        margin: 60px 0 30px;
    }

}

/*=============================

CONTACT

=============================*/

.contact__container {
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(120deg, #ffb884, #ffe5b3);
}

.contact__title {
    color: #fff;
    max-width: 73%;
    margin: 50px auto;
}

.contact__title::after {
    background-color: #fff;
}

.contact__sub-title {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

.contact__form {
    margin: 30px auto;
    padding-top: 15px;
}

.contact__form--btn a {
    display: block;
    width: 280px;
    height: 50px;
    margin: 20px auto;
    border-radius: 25px;
    border: 1px solid #666;
    text-align: center;
    line-height: 50px;
    color: #333;
}

.contact__list li p.contact__phone {
    margin-top: 20px;
    font-size: 2.5rem;
    color: #333;
}

@media(max-width:428px) {
    .contact__container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .contact__title {
        margin: 30px auto;
    }

    .contact__sub-title {
        font-size: 0.9rem;
    }

    .contact__form {
        padding-top: 0;
    }
}


/*=============================

FOOTER

=============================*/

footer {
    background-color: #F6F6F6;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

footer h3 {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.footer__address {
    color: #333;
    font-size: 0.9rem;
}

footer h3 a {
    color: #333;
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6%;
}

.footer__nav li {
    list-style: none;
    margin: 0 45px;
}

.footer__nav li a {
    color: #333;
    font-size: 1.1rem;
}

footer .scroll-top.pc-only {
    position: fixed;
    right: 35px;
    bottom: 10px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    /*それぞれに0.5秒の変化のアニメーション*/
    writing-mode: vertical-rl;
    white-space: nowrap;
    -webkit-animation: arrowmove 1s ease-in-out infinite;
    animation: arrowmove 1s ease-in-out infinite;
}

footer .scroll-top.scroll-view.pc-only {
    opacity: 1;
    visibility: visible;
}

footer .scroll-top.pc-only a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-size: 1rem;
    display: block;
    padding-right: 5px;
    font-family: "Noto Serif", serif;
}

footer .js-scroll.pc-only a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 60px;
    background: #666;
}

footer .js-scroll.pc-only a::before {
    content: "";
    position: absolute;
    top: 40px;
    right: -6px;
    width: 1px;
    height: 20px;
    background: #666;
    transform: skewX(-31deg);
}

footer _:-ms-lang(x),
footer .js-scroll.pc-only a::before {
    right: -11px;
}

@-webkit-keyframes arrowmove {
    0% {
        bottom: 20px;
    }

    50% {
        bottom: 25px;
    }

    100% {
        bottom: 20px;
    }
}

@keyframes arrowmove {
    0% {
        bottom: 20px;
    }

    50% {
        bottom: 25px;
    }

    100% {
        bottom: 20px;
    }
}

footer .js-pagetop.pc-only a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 80px;
    background: #666;
}

footer .js-pagetop.pc-only a::before {
    content: "";
    position: absolute;
    top: 0;
    right: -6px;
    width: 1px;
    height: 20px;
    background: #666;
    transform: skewX(31deg);
}

footer _:-ms-lang(x),
footer .js-pagetop.pc-only a::before {
    right: 0;
}

@media(max-width:428px) {

    footer {
        padding: 30px;
    }

    .footer__nav {
        display: none;
    }
}


/*=============================

alliance

=============================*/

header h1.sub-page a {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
}

.wave.sub-page {
    opacity: .45;
    position: absolute;
    top: -85%;
    left: 35%;
    background: linear-gradient(to bottom, #ffdda1, #ff8c42);
    width: 1400px;
    height: 1300px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 7000ms infinite linear;
}

.wave.-three.sub-page {
    animation: drift 10000ms infinite linear;
}

.wave.-two.sub-page {
    animation: drift 8000ms infinite linear;
    opacity: .3;
    background: linear-gradient(to bottom, #ffe5b3, #ffb884);
}

.alliance__top--text {
    position: absolute;
    top: 38%;
    left: 13%;
}

.content__alliance {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.content__alliance p {
    margin-right: 15px;
    font-size: 0.82rem;
}

.content__alliance p a {
    color: #666;
}

.content__alliance span {
    margin-right: 15px;
    color: #666;
}

.alliance__top--text h2 {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.alliance__top--text img {
    width: 7%;
    opacity: .85;
}

.other__service {
    margin-top: 70px;
}

.other__service p {
    color: #666;
    font-size: 0.8rem;
    margin-top: 15px;
}

.other__service p a {
    color: #666;
    font-size: 0.8rem;
}

@media(max-width:428px) {

    .wave.sub-page {
        top: -60%;
        width: 1000px;
        height: 900px;
    }

    .alliance__top--text {
        top: 35%;
    }

    .content__alliance p {
        font-size: 0.78rem;
    }

    .alliance__top--text h2 {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    .alliance__top--text img {
        width: 17%;
    }

    .other__service {
        margin-top: 40px;
    }

    .other__service p a {
        font-size: 0.78rem;
    }
}

/*=============================

alliance_about

=============================*/


.alliance__service--content {
    max-width: 73%;
    margin: 100px auto;
}

.alliance__content--title {
    display: inline-block;
    background-color: #4c3722;
    color: #fff;
    padding: 70px 30px;
    opacity: .85;
}

.alliance__content--title h3 {
    text-align: left;
    line-height: 1.5;
    font-size: 1.2rem;
}

.alliance__content--area {
    margin: 90px 30px 60px;
}

.alliance__content--area p.alliance__text__first {
    margin: 60px 0;
}

.alliance__content--text {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.alliance__content--text p {
    line-height: 3.3;
    margin-top: 30px;
}

.alliance__content--text img {
    width: 19rem;
    height: auto;
    margin-top: 80px;
}

.alliance__benefit--list {
    margin: 40px 0 120px 50px;
}

.alliance__benefit--list li {
    margin: 20px 0;
}

.alliance__flow--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 80px;
}

.alliance__flow--detail {
    width: calc(88%/4);
    text-align: center;
    list-style: none;
    min-height: 300px;
}

.alliance__flow--detail img {
    width: 80px;
    height: 74px;
    object-fit: contain;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    opacity: .8;
}

.detail__text.alliance {
    font-size: 0.85rem;
}

.triangle1.alliance {
    margin: 0 20px;
}

.lifeline__container {
    margin: 70px auto;
}

.lifeline__container h4, .alliance__benefit--container h4, .alliance__flow h4 {
    font-size: 1.2rem;
    margin: 50px 0 20px;
}

.lifeline__container h4::after, .alliance__benefit--container h4::after, .alliance__flow h4::after {
    content: '';
    display: inline-block;
    width: 150px;
    height: 1px;
    background-color: #666;
    vertical-align: middle;
    margin-left: 30px;
}

.lifeline__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lifeline__list li {
    list-style: none;
    width: 150px;
    height: 150px;
    text-align: center;
    border: 1px solid #d9d9d9;
    margin: 40px 20px;
    position: relative;
}

.lifeline__list p.lifeline__title {
    font-size: 1.5rem;
    width: fit-content;
    font-family: "decofont", sans-serif;
    position: absolute;
    color: #ff8c42;
    background-color: #fff;
    top: 10%;
    left: -16%;
    transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    z-index: 1;
}

.lifeline__list p.lifeline__title--jp {
    position: inherit;
    margin: 40px auto 20px;
    font-size: 0.9rem;
    z-index: 10;
    padding-bottom: 5px;
    width: fit-content;
    border-bottom: 2px dotted #fac38df2;
}


.lifeline__list img {
    width: 28%;
    height: auto;
}

@media(max-width:428px) {

    .alliance__service--content {
        max-width: 100%;
        margin: 100px 30px;
    }

    .alliance__content--title {
        padding: 35px 25px;
    }

    .alliance__content--title h3 {
        font-size: 1rem;
    }

    .alliance__content--area {
        margin: 50px 0;
        width: 100%;
    }

    .alliance__content--area p.alliance__text__first {
        font-size: 0.88rem;
        line-height: 2;
        margin: 40px 0;
    }

    .alliance__content--text {
        display: block;
        text-align: center;
    }

    .alliance__content--text p {
        line-height: 2;
        margin-top: 20px;
        text-align: left;
    }

    .alliance__content--text img {
        width: 85%;
        margin: 50px auto;
    }

    .alliance__benefit--list {
        margin: 40px 25px 50px 30px;
    }

    .alliance__benefit--list li p {
        font-size: 0.88rem;
        letter-spacing: 0.01em;
        line-height: 1.5;
    }

    .alliance__flow--container {
        display: block;
        margin: 60px 10px 80px;
        text-align: center;
    }

    .alliance__flow--detail {
        width: 100%;
        min-height: 100px;
    }

    .alliance__flow--detail img {
        width: 60px;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .detail__text.alliance {
        font-size: 0.8rem;
    }

    .triangle1.alliance {
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-top: 10px solid #d9d9d9;
        border-bottom: 0;
        margin: 30px auto;
    }

    .lifeline__container h4, .alliance__benefit--container h4, .alliance__flow h4 {
        font-size: 1.05rem;
    }

    .lifeline__container h4::after, .alliance__benefit--container h4::after, .alliance__flow h4::after {
        width: 100px;
    }

    .lifeline__list {
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .lifeline__list li {
        width: 120px;
        height: 120px;
        margin: 10px 15px;
    }

    .lifeline__list p.lifeline__title {
        font-size: 1.2rem;
        white-space: nowrap;
    }

    .lifeline__list p.lifeline__title--jp {
        font-size: 0.8rem;
        margin: 25px auto;
        white-space: nowrap;
    }
}